<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>wizard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>br.com.wizard.control.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servidores</servlet-name>
    <servlet-class>br.com.wizard.control.Servidores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servidores</servlet-name>
    <url-pattern>servidores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.com.wizard.control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexAdmin</servlet-name>
    <servlet-class>br.com.wizard.control.IndexAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdmin</servlet-name>
    <url-pattern>admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consultores</servlet-name>
    <servlet-class>br.com.wizard.control.Consultores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consultores</servlet-name>
    <url-pattern>consultores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadConsultores</servlet-name>
    <servlet-class>br.com.wizard.control.CadConsultores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadConsultores</servlet-name>
    <url-pattern>cadconsultores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsConsultores</servlet-name>
    <servlet-class>br.com.wizard.control.ConsConsultores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsConsultores</servlet-name>
    <url-pattern>consconsultores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Aniversariantes</servlet-name>
    <servlet-class>br.com.wizard.control.Aniversariantes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aniversariantes</servlet-name>
    <url-pattern>aniversariantes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadServidores</servlet-name>
    <servlet-class>br.com.wizard.control.CadServidores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadServidores</servlet-name>
    <url-pattern>cadservidores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Elogios</servlet-name>
    <servlet-class>br.com.wizard.control.Elogios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Elogios</servlet-name>
    <url-pattern>elogios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadElogios</servlet-name>
    <servlet-class>br.com.wizard.control.CadElogios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadElogios</servlet-name>
    <url-pattern>cadelogios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AltElogios</servlet-name>
    <servlet-class>br.com.wizard.control.AltElogios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltElogios</servlet-name>
    <url-pattern>altelogios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Noticias</servlet-name>
    <servlet-class>br.com.wizard.control.Noticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Noticias</servlet-name>
    <url-pattern>noticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsNoticias</servlet-name>
    <servlet-class>br.com.wizard.control.ConsNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsNoticias</servlet-name>
    <url-pattern>consnoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadNoticias</servlet-name>
    <servlet-class>br.com.wizard.control.CadNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadNoticias</servlet-name>
    <url-pattern>cadnoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AltNoticias</servlet-name>
    <servlet-class>br.com.wizard.control.AltNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltNoticias</servlet-name>
    <url-pattern>altnoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CombCST</servlet-name>
    <servlet-class>br.com.wizard.control.CombCST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CombCST</servlet-name>
    <url-pattern>combcst</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Equipes</servlet-name>
    <servlet-class>br.com.wizard.control.Equipes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Equipes</servlet-name>
    <url-pattern>equipes</url-pattern>
  </servlet-mapping>
</web-app>